<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./src/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
</head>

<div id="buttons" class="flex justify-center">
    <div id="add" class="p-2">
        <button class="border-solid border-4 rounded-lg p-2" hx-get="/add" hx-swap="outerHTML" hx-target="#buttons">
            Add new</button>
    </div>
    <div id="categories" class="p-2">
        <button class="border-solid border-4 rounded-lg p-2" hx-get="/categories" hx-swap="outerHTML"
            hx-target="#buttons">
            Categories</button>
    </div>
</div>

<div class="p-2">
    <ul id="expenses-list" class="space-y-1">
        {{ range .Expenses }}
        <li class="text-center flex flex-col border-solid border-2 rounded-lg p-2">
            <div class="text-4xl"><span>{{ .Description }}</span></div>
            <div class="text-3xl"><span>{{ .Amount }}{{ .Currency }}</span></div>
            <div><span>{{ .Person }}</span></div>
            <div><span>{{ .Time }}</span></div>
        </li>
        {{ end }}
    </ul>
</div>

</html>
